@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-opacity: 1;
    --main-color: #444;
    --second-color: rgba(74, 85, 104, var(--text-opacity));
    --main-bg-color: #fffff8;
    --second-bg-color: rgba(255, 255, 255, var(--bg-opacity));
    --main-border-color: #ccc;
    --h2-bg-color: rgba(254, 252, 191, var(--bg-opacity));
    --h3-bg-color: rgba(254, 235, 200, var(--bg-opacity));
    --h4-bg-color: rgba(237, 242, 247, var(--bg-opacity));
    --link-color: rgba(74, 85, 104, var(--text-opacity));
    --quote-bg-color: rgba(255, 245, 247, var(--bg-opacity));
    --menu-highlight: rgba(254, 235, 200, var(--bg-opacity));
    --menu-text-decoration-color: #fbd38d;
    --pre-bg-color: aliceblue;
    --inline-code-bg-color: white;
}

@media(prefers-color-scheme:dark) {
    :root {
        --main-color: #fffff8;
        --second-color: #fffff8;
        --main-bg-color: #333; 
        --second-bg-color: #444;
        --main-border-color: #666;
        --h2-bg-color: #222;
        --h3-bg-color: #222;
        --h4-bg-color: #222;
        --link-color: lightblue;
        --quote-bg-color: darkslategrey;
        --menu-highlight: black;
        --menu-text-decoration-color: black;
        --pre-bg-color: black;
        --inline-code-bg-color: var(--main-bg-color);
    }
    ul#primary-menu a.active {
        text-decoration:none;
    }
}

/* resets */
blockquote {
    margin: 0;
    padding: 0;
}


* {
    box-sizing: border-box;
}

html,
body {
    display: flex;
    flex-flow: column;
    padding: 0;
    line-height: 1.2;
    width: 100%;
    height: 100%;
}

body {
    margin: 0 auto;
    line-height:1.6;
    font-size:18px;
    color: var(--main-color);
    background-color: var(--main-bg-color);
    padding:0;
    font-family: Nunito, arial, sans;
    box-sizing: border-box;
    --bg-opacity: 1;
    /* background-color: rgba(247, 250, 252, var(--bg-opacity)); */
}

@screen sm {
    #preamble, .grid-container {
        @apply ml-10;
    }
}

#preamble {
    @apply py-4;
}

code {
    background: var(--inline-code-bg-color);
}

a:not(h1) {
    color: var(--link-color);
    @apply underline;
}


.outline-2, #table-of-contents, #postamble {
    border-top: 1px solid var(--main-color);
}

blockquote {
    font-style: italic;
    border: 2px dashed var(--main-border-color);
    border-left: 2px solid var(--main-border-color);
    border-left-width: 4px;
    padding: 0.5rem;
    --bg-opacity: 1;
    background-color: var(--quote-bg-color);
    /* background-color: #edf2f7; */
    /* background-color: rgba(237, 242, 247, var(--bg-opacity)); */
    margin-bottom: 1rem;
}

.verse {
    font-style: italic;
    border-top: 1px solid var(--main-border-color);
    border-bottom: 1px solid (--main-border-color);
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top: 40px;
}

table {
    border: 1px solid gray;
}

table td, table th {
    padding: 5px;
    border: 1px solid gray;
}

#postamble {
    font-size:smaller;
}

.ds-note, .outline-2, header {
  --bg-opacity: 1;
  background-color: var(--second-bg-color);
  color: var(--second-color);
  --text-opacity: 1;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 0.25rem;
  border-style: solid;
  border-width: 2px;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-style: dotted;
  --border-opacity: 1;
  border-color: #a0aec0;
  border-color: rgba(160, 174, 192, var(--border-opacity));
  width: 100%;
  margin-bottom: 1.5rem;
}

.ds-note, .outline-2 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  display: -webkit-box;
  display: flex;
  line-height: 1.5;
  letter-spacing: -0.025em;
  font-size: 1.125rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.outline-3 {
    @apply mt-4;
}

.outline-3 h3 {
    background-color: var(--h3-bg-color);
}

.outline-4 {
    @apply mt-3;
}


@media (min-width: 640px) {
  .ds-note, .outline-2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: column;
    border-width: 2px;
  }
}
@import url("https://rsms.me/inter/inter.css");

html {
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

.page h1 {
    font-weight: 700;
}

h1 {
  font-size: 1.7rem;
}

h2 {
  font-size: 1.5rem;
  background-color: var(--h2-bg-color);
  @apply mb-2;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.1em;
  background-color: var(--h4-bg-color);
}

p,
li {
  -webkit-letter-spacing: -0.024%;
  -moz-letter-spacing: -0.024%;
  -ms-letter-spacing: -0.024%;
  letter-spacing: -0.024%;
}

header {
  display: flex;
  align-items: center;
  border-style: dotted;
  border-width: 3px;
}

.site-title {
  padding: 0;
  margin: 0;
}

#logo {
  display: inline-block;
  margin: 5px;
}

#logo svg {
  width: 40px;
  height: 40px;
}

.grid-container {
  flex: 1;
  display: flex;
  overflow-x: auto !important;
  white-space: nowrap;
  flex-grow: 1;
}
.ds-grid {
  max-width: 100%;
  flex-grow: 1;
}

.page {
  white-space: normal;
  padding: 10px 10px;
  padding-left: 0;
  margin-right: 10px;
  display: inline-block;
  width: 625px;
  max-width: 100%;
  height: 100% !important;
  max-height: 100%;
  overflow-y: auto;
  vertical-align: top;
  box-sizing: border-box;
}
.page:last-child {
  margin-right: 15px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--link-color);
}

a:hover {
  opacity: 0.5;
}

code {
  white-space: pre;
  background: var(--inline-code-bg-color);
  border: 1px solid #bbb;
  border-radius: 4px;
  max-width: 100%;
  overflow: auto;
  font-size: 0.8rem;
  padding: 2px;
}

pre {
  padding: 1px 10px;
}

img {
  max-width: 100%;
}

#svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  user-select: none;
}

iframe {
  overflow: hidden;
  overflow-y: hidden;
  border: none;
}

.tippy-box > .tippy-arrow:before {
  transform: scale(2);
}

footer {
  background: #fff;
  align-items: center;
  text-align: center;
  color: var(--main-border-color);
  border-top: 1px var(--main-border-color) solid;
  font-size: 10px;
}

.bl-section {
  padding: 10px;
  margin-bottom: 50px;
  background-color: #fee;
}

.backlinks {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.bl-section h4 {
  color: #aaa;
  margin-top: 0;
}

.backlinks a {
  flex: 100%;
  color: var(--link-color);
}

dt {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  body {
    flex-direction: column;
  }

  header {
    border-right-width: 0;
    border-bottom-width: 1px;
    padding: 10px 30px;
  }

  #logo {
    margin: 0;
  }

  #logo svg {
    width: 30px;
    height: 30px;
  }

  header > * {
    display: inline-block;
    margin-right: 10px;
  }

  .grid-container {
    padding: 0;
  }

  .page {
    padding-bottom: 150px;
  }
}

a[target=_blank]::after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin: 0 3px 0 5px;
}

pre.src {
    overflow-x: scroll;
}

.page ul {
    margin-left: 2rem;
    list-style-type: disc;
    list-style-position: outside;
}

.page ul ul li {
    list-style-type: circle;
}

p {
    padding: 0.5rem;
    letter-spacing: -0.025em;
    font-size: 1.125rem;
}

p code {
    display: inline;
}

#buffer-network {
    height: 400px;
}


ul#primary-menu {
    display: flex
}

ul#primary-menu li {
    padding-right: 0.5rem;
}

ul#primary-menu a {
    font-size: 16px;
}

a[target!="_blank"] {
    text-decoration:underline;
    text-decoration-style: solid;
    text-decoration-color: theme('colors.orange.300');
    text-decoration-thickness: 3px;
}

ul#primary-menu a.active,
ul#primary-menu a.active:hover {
    text-decoration:underline;
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--menu-text-decoration-color);
    background-color: var(--menu-highlight);
}

pre.src {
    font-size: small;
    background-color: var(--pre-bg-color);
}

.weeknotes-notes li {
    margin-top: 0.5rem;
}

.weeknotes-graph figure {
    overflow: scroll;
}

.weeknotes-graph .org-svg {
    width: 1000px;
}

dl {
    display: grid;
    grid-template-columns: max-content auto;
    grid-gap: 8px;
    border: 1px dotted gray;
    @apply p-2;
}

dt {
    grid-column-start: 1;
    text-decoration: none;
    font-weight: bold;
}

dd {
    grid-column-start: 2;
}

#webmentions h4 {
    font-size: 1em;
    margin-top: 0.5em;
}

#webmentions ul {
    list-style-type: none;
    list-style-position: outside;
    margin-left: 0;
}

#webmentions li {
    border: 1px dotted aliceblue;
    padding: 5px;
}

#webmentions img {
    max-height: 1.1em;
    display: inline-block;
}
